<div>
    <form [formGroup]="form" (change)="changeIsHazardous($event)">
      
      <div class="form-group">
        <label for="isHazardous" required>Does the product contain any hazardous material?</label>
            <input type="radio" id="isHazardous" name="isHazardous" aria-label="is hazardous" (changed)="checked=$event"/>
            <label>Yes</label>
  
            <input type="radio" id="notHazardous" name="isHazardous" aria-label="is hazardous" (changed)="checked=$event"/>
            <label>No</label>
        </div>
    </form>
    </div>
    <div *ngIf="isHazardous == true">
        <form [formGroup]="form" >
            <div class="form-group">
              <label for="item" required>Product Type</label>
              <select formControlName="item" class="form-control" (change)="changeProductListType($event)">
                  <option disabled>Select Type</option>
                  <option></option>
                  <option *ngFor="let item of productList">{{item}}</option>
              </select>
              <div *ngIf="f.item.touched && f.item.invalid" class="alert alert-danger">
                  <div *ngIf="f.item.errors.required">Item is required.</div>
              </div>
            </div>
        </form>
       
        <form [formGroup]="form" *ngIf="selectedType == 'Product 1' || selectedType == 'Product 2' || selectedType == 'Product 3'" (change)="changeIsLimited($event)">
    
            <div class="form-group" >
                <div>
                <label for="isLimited" required>Limited Quantity</label>
                    <input type="radio" id="isLimited" name="limitedQuantity" aria-label="is limited" (changed)="checked=$event"/>
                    <label>Yes</label>
          
                    <input type="radio" id="notLimited" name="limitedQuantity" aria-label="is not limited" (changed)="checked=$event"/>
                    <label>No</label>
                </div>
            </div>    
        </form>

        <form [formGroup]="form" *ngIf="selectedType == 'Product 1' || selectedType == 'Product 2' || selectedType == 'Product 3'" (change)="changeIsFullyRegulated($event)">
    
            <div class="form-group" >
                <div>
                <label for="isFullyRegulated" required>Fully Regulated</label>
                    <input type="radio" id="isFullyRegulated" name="fullyRegulated" aria-label="is limited" (changed)="checked=$event"/>
                    <label>Yes</label>
          
                    <input type="radio" id="notFullyRegulated" name="fullyRegulated" aria-label="is not limited" (changed)="checked=$event"/>
                    <label>No</label>
                </div>
            </div>    
        </form>
        <div *ngIf="isLimitedQuantity == true || isFullyRegulated == true">
            <form [formGroup]="form"  >
        
                <div class="form-group">
                    <div>
                    <label for="marine poll" required>Marine Poll</label>
                        <input type="radio" id="isOption2" name="option2" aria-label="is limited" (changed)="checked=$event"/>
                        <label>Yes</label>
              
                        <input type="radio" id="notOption2" name="option2" aria-label="is not limited" (changed)="checked=$event"/>
                        <label>No</label>
                    </div>
                </div>    
            </form>
    
            <form [formGroup]="form" >
        
                <div class="form-group">
                    <div>
                    <label for="option1" required>...?</label>
                        <input type="radio" id="isOption1" name="option1" aria-label="is limited" (changed)="checked=$event"/>
                        <label>Yes</label>
              
                        <input type="radio" id="notOption1" name="option1" aria-label="is not limited" (changed)="checked=$event"/>
                        <label>No</label>
                    </div>
                </div>    
            </form>
    
            <form [formGroup]="form"  >
        
                <div class="form-group">
                    <div>
                    <label for="option1" required>...?</label>
                        <input type="radio" id="isOption2" name="option2" aria-label="is limited" (changed)="checked=$event"/>
                        <label>Yes</label>
              
                        <input type="radio" id="notOption2" name="option2" aria-label="is not limited" (changed)="checked=$event"/>
                        <label>No</label>
                    </div>
                </div>    
            </form>
    
            <form [formGroup]="form"  >
        
                <div class="form-group">
                    <div>
                    <label for="option1" required>...?</label>
                        <input type="radio" id="isOption3" name="option3" aria-label="is limited" (changed)="checked=$event"/>
                        <label>Yes</label>
              
                        <input type="radio" id="notOption3" name="option3" aria-label="is not limited" (changed)="checked=$event"/>
                        <label>No</label>
                    </div>
                </div>    
            </form>
            <form [formGroup]="form"  >
        
                <div class="form-group">
                    <div>
                    <label for="option4" required>...?</label>
                        <input type="radio" id="isOption4" name="option4" aria-label="is limited" (changed)="checked=$event"/>
                        <label>Yes</label>
              
                        <input type="radio" id="notOption4" name="option4" aria-label="is not limited" (changed)="checked=$event"/>
                        <label>No</label>
                    </div>
                </div>    
            </form>
            <div (change)="changeIsAresol($event)">
    
            
            <form [formGroup]="form" >
        
                <div class="form-group">
                    <div>
                    <label for="option4" required>Aresol?</label>
                        <input type="radio" id="isAresol" name="aresol" aria-label="is limited" (changed)="checked=$event"/>
                        <label>Yes</label>
              
                        <input type="radio" id="notAresol" name="aresol" aria-label="is not limited" (changed)="checked=$event"/>
                        <label>No</label>
                    </div>
                </div>  
            </form>
    
            <form [formGroup]="form" *ngIf="isAresol || aresolType == 'Level 1' || aresolType == 'Level 2'|| aresolType == 'Level 3'" >
                <div class="form-group">
                  <label for="item" required>Level</label>
                  <select formControlName="item" class="form-control" (change)="changeAresolLevelType($event)">
                      <option disabled>Select Type</option>
                      <option></option>
                      <option *ngFor="let item of aresolLevelList">{{item}}</option>
                  </select>
                  <div *ngIf="f.item.touched && f.item.invalid" class="alert alert-danger">
                      <div *ngIf="f.item.errors.required">Item is required.</div>
                  </div>
                </div>
            </form>
        </div>
            <form [formGroup]="form" >
        
                <div class="form-group">
                    <div>
                    <label for="option4" required>Reportable Quantity?</label>
                        <input type="radio" id="isReportable" name="isReportable" aria-label="is limited" (changed)="checked=$event"/>
                        <label>Yes</label>
              
                        <input type="radio" id="notReportable" name="isReportable" aria-label="is not limited" (changed)="checked=$event"/>
                        <label>No</label>
                    </div>
                </div>    
            </form>
    
            <form [formGroup]="form">
                <div class="form-group">
                  <label for="item" required>Id No. </label>
                  <select formControlName="item" class="form-control" (change)="changeIdNoList($event)">
                      <option disabled>Select Id No.</option>
                      <option></option>
                      <option *ngFor="let item of idList">{{item}}</option>
                  </select>
                  <div *ngIf="f.item.touched && f.item.invalid" class="alert alert-danger">
                      <div *ngIf="f.item.errors.required">Item is required.</div>
                  </div>
                </div>
            </form>
    
            <form [formGroup]="form">
                <div class="form-group">
                  <label for="item" required>Primary Hazard Class </label>
                  <select formControlName="item" class="form-control" (change)="changePrimaryHazardClass($event)">
                      <option disabled>Select Id No.</option>
                      <option></option>
                      <option *ngFor="let item of primaryHazardClass">{{item}}</option>
                  </select>
                  <div *ngIf="f.item.touched && f.item.invalid" class="alert alert-danger">
                      <div *ngIf="f.item.errors.required">Item is required.</div>
                  </div>
                </div>
            </form>
    
            <form [formGroup]="form" >
        
                <div class="form-group" (change)="changeIsMoreThan($event)">
                    <div>
                    <label for="isMoreThan" required>More than one class?</label>
                        <input type="radio" id="isMoreThan" name="isMoreThan" aria-label="is limited" (changed)="checked=$event"/>
                        <label>Yes</label>
              
                        <input type="radio" id="notMoreThan" name="isMoreThan" aria-label="is not limited" (changed)="checked=$event"/>
                        <label>No</label>
                    </div>
                </div>    
            </form>
    
            <div *ngIf="isMoreThan == true">
                <form [formGroup]="form" *ngIf="selectedType == 'Product 1' || selectedType == 'Product 2' || selectedType == 'Product 3'">
                    <div class="form-group">
                      <label for="item" required>Secondary Hazard </label>
                      <input type="number" min="0" max="10" aria-label="secondary hazard"/>
                      
                      </div>
                      <div class="form-group">
                        <label for="item" required>Tertiary Hazard </label>
                        <input type="number" min="0" max="10" aria-label="tertiary hazard"/>
                      </div>
                </form>
            </div>
    
            <form [formGroup]="form"  (change)="changeShippingName($event)">
        
                <div class="form-group">
                    <label for="item" required>Proper Shipping Name:  </label> 
                    <input type="text" aria-label="proper shipping name"/> <!--NEED TO TWO-WAY DATA BIND-->
                </div>
            </form>
            <form [formGroup]="form" (change)="changeTechName($event)">
        
                <div class="form-group">
                    <label for="item" required>Tech Name:  </label> 
                    <input type="text" aria-label="tech name"/> <!--NEED TO TWO-WAY DATA BIND-->
                </div>
            </form>
            <form [formGroup]="form" (change)="changeERG($event)">
        
                <div class="form-group">
                    <label for="item">ERG #:  </label> 
                    <input type="text" aria-label="Erg number"/> <!--NEED TO TWO-WAY DATA BIND-->
                </div>
            </form>
    
            <form [formGroup]="form" (change)="changeCAS($event)">
        
                <div class="form-group">
                    <label for="item">CAS #:  </label> 
                    <input type="text" aria-label="Cas number"/> <!--NEED TO TWO-WAY DATA BIND-->
                </div>
            </form>
    
             <form [formGroup]="form">
        
                <div class="form-group" (change)="changeIsLiquid($event)">
                    <div>
                    <label for="isMoreThan" required>Contains Liquid?</label>
                        <input type="radio" id="isLiquid" name="isLiquid" aria-label="is limited" (changed)="checked=$event"/>
                        <label>Yes</label>
              
                        <input type="radio" id="notLiquid" name="isLiquid" aria-label="is not limited" (changed)="checked=$event"/>
                        <label>No</label>
                    </div>
                </div>    
            </form>
              <form [formGroup]="form" *ngIf="isLiquid">
                  <p *ngIf="liquid === 'liquid'">{{liquid}}</p>
                <div class="form-group">
                  <label for="item" required>Flashpoint </label>
                  <select formControlName="item" class="form-control">
                      <option disabled>Select flashpoint</option>
                      <option></option>
                      <option *ngFor="let item of flashpoint">{{item}}</option>
                  </select>
                  <div *ngIf="f.item.touched && f.item.invalid" class="alert alert-danger">
                      <div *ngIf="f.item.errors.required">Flashpoint is required.</div>
                  </div>
                </div>
            </form>
            <form [formGroup]="form" *ngIf="isLiquid">
        
                <div class="form-group">
                    <label for="isLiquid">Size:  </label> 
                    <input type="number" min="0" aria-label="Liquid Size"/> <!--NEED TO TWO-WAY DATA BIND-->
                </div>
            </form>
        </div>
        <form [formGroup]="form" *ngIf="selectedType == 'Product 1' || selectedType == 'Product 2' || selectedType == 'Product 3'" (change)="changeIsLithiumBattery($event)">
    
            <div class="form-group" >
                <div>
                <label for="isLitiumBattery" required>Lithium Battery</label>
                    <input type="radio" id="isLithiumBattery" name="lithiumBattery" aria-label="is limited" (changed)="checked=$event"/>
                    <label>Yes</label>
          
                    <input type="radio" id="notLithiumBattery" name="lithiumBattery" aria-label="is not limited" (changed)="checked=$event"/>
                    <label>No</label>
                </div>
            </div>    
        </form>

        <div *ngIf="isLithiumBattery == true">
            <p>Lithium Battery List Goes Here!</p>
        </div>

        <form [formGroup]="form" *ngIf="selectedType == 'Product 1' || selectedType == 'Product 2' || selectedType == 'Product 3'" (change)="changeIsSpecialStorage($event)">
    
            <div class="form-group" >
                <div>
                <label for="isSpecialStorage" required>Special Storage?</label>
                    <input type="radio" id="isSpecialStorage" name="specialStorage" aria-label="is limited" (changed)="checked=$event"/>
                    <label>Yes</label>
          
                    <input type="radio" id="notSpecialStorage" name="specialStorage" aria-label="is not limited" (changed)="checked=$event"/>
                    <label>No</label>
                </div>
            </div>    
        </form>

        <div *ngIf="isSpecialStorage == true">
            <p>Special Storage List Goes Here!</p>
        </div>


    </div>